md-grid-tile {

  margin: 0;
  padding: 0;
  top: 0;

}
md-grid-list {

  width: 100%;

}
h3{
  padding-left: 10px;

}
span.resuls {

  color: blue;

}
button {

  margin: 4px;

}

h3{

  text-align: center;
  width: 100%;


}
